@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../Img/Viñedo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    font-family: "Roboto Slab", serif;
  }
  body nav {
    width: 100%;
    height: 20vh;
  }
  body nav .lista1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  body nav .lista1 li {
    border: 2px solid black;
    width: 140px;
    height: 25px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -130px;
    top: 30px;
    transition: all 2s;
  }
  body nav .lista1 li:hover {
    left: -20px;
  }
  body nav .lista1 li button {
    width: 70px;
    height: 25px;
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
  }
  body nav .lista1 li button:hover {
    cursor: pointer;
  }
  body nav .lista1 li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
    display: flex;
  }
  body nav .lista1 li a img {
    width: 40px;
    height: 20px;
    background-color: blueviolet;
  }
  body nav #menu-contenedor {
    display: none;
    width: 500px;
    position: relative;
    left: 150px;
    bottom: 110px;
  }
  body nav #menu-contenedor ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  body nav #menu-contenedor ul li {
    border: 2px solid black;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body nav #menu-contenedor ul li button {
    width: 70px;
    height: 25px;
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
    position: relative;
  }
  body nav #menu-contenedor ul li button:hover {
    cursor: pointer;
  }
  body nav .submenu-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
  }
  body nav .submenu-contenedor div {
    width: 150px;
    height: 120px;
    display: flex;
  }
  body nav .submenu-contenedor div img {
    width: 100%;
    height: 100%;
  }
  body nav .submenu-contenedor:nth-child(1) {
    position: relative;
    left: 150px;
  }
  body nav #submenu-contenedor1 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor2 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor3 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor4 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }

/* Main */

body main{

    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 300px;

}

body main h1{

  font-size: 60px;
  font-weight: 900;
}

body main h2{
  font-size: 30px;
  font-family: 700;
  color: violet;
  text-shadow: 5px 5px 20px rgb(0, 0, 0, 1.8);
  text-decoration: underline black 5px;
  margin-top: 100px;

} 

body main section{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body main section div{

    width: 200px;
    height: 200px;
    margin-top: 20px;
}

body main section div img{
    width: 100%;
    height: 100%;
}

body main section div p{
  width: 50px;
  height: 25px;
  line-height: 25px;
  border: 1px solid black;
  background-color: black;
  color: violet;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  bottom: 30px;
}

body main section div input{
  background-color: black;
  color: violet;
  font-weight: 700px;
  position: relative;
  left: 140px;
  bottom: 150px;
}

body main section div input:hover{

  cursor: pointer;
}

#cartel{
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: black;
  border: 5px solid black;
  position: absolute;
  top: 200px;
  left: 500px;
  position: fixed;
}

#cartel h3{
  font-size: 40px;
  font-weight: 700;
  color: violet;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 1.8);
}

#cartel div{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

#cartel div button{
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  border: 2px solid violet;
  background-color: black;
  color: violet;
}

#cartel div button:hover{
  cursor: pointer;
}



/* Footer */

body footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 40%;
  }
  body footer div {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5px;
  }
  body footer div p {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin: auto;
  }
  body footer div p a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    color: violet;
  }
  body footer div p a img {
    width: 30px;
    height: 25px;
    vertical-align: middle;
  }
  body footer div p:nth-child(1) img {
    background-color: whitesmoke;
  }
  body footer div p:nth-child(3) {
    color: violet;
    text-align: center;
  }
  body footer .gracias {
    color: violet;
    width: 60%;
    letter-spacing: 2px;
  }


/* HTML DEL CARRITO */


.navCarrito {
  width: 100%;
  height: 10vh;
}
.navCarrito ul li {
  width: 140px;
  height: 25px;
  list-style: none;
  text-align: center;
  line-height: 25px;
  background-color: black;
  position: relative;
  left: -130px;
  top: 30px;
  transition: all 3s;
}
.navCarrito ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: violet;
}
.navCarrito ul li:hover {
  left: 0px;
}

.mainCarrito {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.mainCarrito section {
  width: 50%;
  height: auto;
  margin: auto;
}
.mainCarrito section table {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: violet;
  border-collapse: collapse;
  
}
.mainCarrito section table thead {
  text-align: left;
  border: 1px solid white;
}
.mainCarrito section table thead tr th {
  padding: 8px;
  height: 30px;
  border: 1px solid white;
}
.mainCarrito section table thead tr th:nth-child(1) {
  width: 20px;
}
.mainCarrito section table thead tr th:nth-child(2) {
  width: 250px;
}
.mainCarrito section table thead tr th:nth-child(3) {
  width: 100px;
}
.mainCarrito section table thead tr th:nth-child(4) {
  width: 100px;
}
.mainCarrito section table tbody {
  text-align: left;
}
.mainCarrito section table tbody tr td {
  padding: 8px;
  height: 30px;
  border: 1px solid white;
}

.mainCarrito section table #trCantidadPrecio td{
  width: 100%;
  height: 100px;
  
}

.mainCarrito section table #trCantidadPrecio td .parrafo{
  width: 150px;
  background-color:transparent;
  border: none;
}

.mainCarrito section table #trCantidadPrecio td .parrafo div{

  height: 100px;
}

#cantidadDeBotellas{
  text-align: center;
  width: 50px;
  position: relative;
  left: 170px;
  bottom: 40px;
}

#total{
  text-align: center;
  width: 70px;
  position: relative;
  left: 100px;
  bottom: 40px;
}
.mainCarrito input {
  width: 150px;
  height: 50px;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 900;
  color: violet;
  background-color: black;
  border-radius: 10px;
}
.mainCarrito input:hover {
  cursor: pointer;
}

#cartel2{
  width: 500px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: black;
  border: 5px solid violet;
  position: absolute;
  top: 200px;
  left: 500px;
  position: fixed;
  display: none;
}

#cartel2 h3{
  font-size: 40px;
  font-weight: 700;
  color: violet;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 1.8);
}