
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../Img/Viñedo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  body nav {
    width: 100%;
    height: 20vh;
  }
  body nav .lista1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  body nav .lista1 li {
    border: 2px solid black;
    width: 140px;
    height: 25px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -130px;
    top: 30px;
    transition: all 2s;
  }
  body nav .lista1 li:hover {
    left: -20px;
  }
  body nav .lista1 li button {
    width: 70px;
    height: 25px;
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
  }
  body nav .lista1 li button:hover {
    cursor: pointer;
  }
  body nav .lista1 li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
    display: flex;
  }
  body nav .lista1 li a img {
    width: 40px;
    height: 20px;
    background-color: blueviolet;
  }
  body nav #menu-contenedor {
    display: none;
    width: 500px;
    position: relative;
    left: 150px;
    bottom: 110px;
  }
  body nav #menu-contenedor ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  body nav #menu-contenedor ul li {
    border: 2px solid black;
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body nav #menu-contenedor ul li button {
    width: 70px;
    height: 25px;
    background-color: black;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: violet;
    position: relative;
  }
  body nav #menu-contenedor ul li button:hover {
    cursor: pointer;
  }
  body nav .submenu-contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
  }
  body nav .submenu-contenedor div {
    width: 150px;
    height: 120px;
    display: flex;
  }
  body nav .submenu-contenedor div img {
    width: 100%;
    height: 100%;
  }
  body nav .submenu-contenedor:nth-child(1) {
    position: relative;
    left: 150px;
  }
  body nav #submenu-contenedor1 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor2 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor3 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }
  body nav #submenu-contenedor4 {
    display: none;
    position: relative;
    left: 150px;
    bottom: 70px;
  }

/* Main */

body main{

    width: 100%;
    height: 120vh;
}


/* Footer */

body footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
  }
  body footer div {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 5px;
  }
  body footer div p {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    margin-left: 15px;
    margin: auto;
  }
  body footer div p a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    color: violet;
  }
  body footer div p a img {
    width: 30px;
    height: 25px;
    vertical-align: middle;
  }
  body footer div p:nth-child(1) img {
    background-color: whitesmoke;
  }
  body footer div p:nth-child(3) {
    color: violet;
    text-align: center;
  }
  body footer .gracias {
    color: violet;
    width: 60%;
    letter-spacing: 2px;
  }